:root {
  --primary-color: #7f2c30;
  --primary-color-soft: #4c1b1e;
  --text-color: #000;
  --background-color:#FAFAFA;
  --error-color: #EF4444;
}

:root.dark {
  --primary-color: #fff;
  --text-color: #fff;
  --background-color: #1B2430;
  --error-color: #F87171;
}

*::selection {
  background-color: #4c1b1e !important;
  color: #fff !important;
}
.focus-visible\:ring-primary-500:focus-visible, .dark\:focus-visible\:ring-primary-400:focus-visible:is(.dark *) {
  --tw-ring-color: transparent;
}
.focus\:ring-primary-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: var(--primary-color) !important;
}


body {
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, .navbar {
  transition: background-color .3s;
  &.dark {
    background-color: var(--background-color) !important;
  }
}

.router-link {
  padding: 12px 16px;
  font-weight: 500;

  &-active {
    color: var(--primary-color) !important;
    font-weight: bold;
  }
}

.logo-name span {
  color: var(--primary-color);
}
.logo-img {
  user-select: none;
}